        <!-- Search bar, sort, and create ticket container -->
        <div class="main-outer-container">
            <div class="header-outer-container">
                <div class="header-inner-container">
                    <div class="search-box-container">
                        <input id="search-box" type="text" placeholder="Search...">
                    </div>
        
                    <div class="dropdown" id="dropdown-container">
                        <select id="sort-by">
                            <option value="date"> Sort by Date </option>
                            <option value="status"> Sort by Status </option>
                        </select>
                    </div>
    
                    <div class="create-ticket-container">
                        <button id="create-btn" type="button" data-toggle="modal" data-target="#ticketModal"> CREATE TICKET </button>
                    </div>
                </div>
            </div>

            <!-- Ticket Modal Form -->
            <div id="ticketModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" id="modalDialog" role="document">
                    <div class="modal-content" id="ticket-form-main">
                        
                          <form id="ticketForm" class="modal-form" method="post" action="/tickets/create"></form>
                            <div class="modal-header" id="ticket-form-header">
                                <h5 class="modal-title"> REQUEST FOR QUOTE </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body" id="ticket-form-content">
                                <input type="text" class="form-control" name="reason" id="request-reason" aria-describedby="reasonRequest" placeholder="Reason for Request">
                                <textarea name="description" id="request-description" placeholder="Description" required></textarea>
                                <textarea name="specs" id="request-specs" placeholder="Specifications" required></textarea>
                                <input type="number" class="form-control" name="quantity" id="request-quantity" aria-describedby="requestQuantity" placeholder="Quantity">
                            </div>
                            
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="request-btn"> Send Request </button>
                                <button type="button" class="btn btn-secondary" id="close-btn" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>  