            <!-- Ticket container -->
            {{#each clients}}
            <div class="admin-all-client-outer-container">
                <div class="admin-all-client-inner-container">
                    <div class="admin-all-client-container1">
                        <div class="all-client-client-order-container">
                            <div class="all-client-client-details">
                                <p id="all-client-client-name"> Client Name: {{this.firstname}} {{this.lastname}}</p>
                                <p id="all-client-client-name"> Client Username: {{this.username}}</p>
                                <p id="all-client-creation-date"> Created at {{this.dateMade}}</p>
                                
                                <div class="all-client-view-details-container">
                                    <a id="all-client-view-details" href="#"> View Details </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="admin-all-client-container2">
                        <div class="all-client-client-status-container">
                            <div class="all-client-client-status">
                                <p> MANAGE CLIENT </p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            {{/each}}