
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-header">
            <a class="navbar-brand" href="/"> <img id="logo-img" src="/public/img/alltrade-logo.png" alt="Logo"> </a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="about" href="/#about-profile"> About </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" id="profile" href="/#about-profile"> Profile </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" id="services" href="services"> Services </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" id="core" href="core"> Core Capabilities </a>
                    </li>
                </ul>

                <li>
                    <div class="nav-space"></div>
                </li>

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="inquire" href="/#contact-form"> Inquire <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" id="login" href="login"> Login <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>