<form method="post" action="/tickets/{{orderNum}}/reply">
    <div class="form-group form-reply">
        <label for="reply-content"> Send a reply </label>
        <textarea class="form-control" id="reply-content" rows="3" name="description"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" id="submit-reply-btn">Submit</button>
</form>