        <div class="main-outer-container">
            <div class="header-outer-container">
                <div class="header-inner-container">
                    <button class="back-history" onclick="history.back()">Back</button>
                    <div class="search-box-container">
                        <input id="search-box" type="text" placeholder="Search..">
                    </div>
        
                    {{!-- <div class="dropdown" id="dropdown-container2">
                        <select id="order-by">
                            <option value="date"> sort by date </option>
                            <option value="orderNum"> sort by order number </option>
                        </select>
                    </div> --}}

                    <div class="dropdown" id="dropdown-container1">
                        <select id="sort-by">
                            <option value="all"> All </option>
                            <option value="accepted"> Accepted </option>
                            <option value="rejected"> Rejected </option>
                            <option value="pending"> Pending </option>
                        </select>
                    </div>
                </div>
            </div>

            {{#if errorMessage}}
                    <div class="alert alert-danger" role="alert">
                        {{errorMessage}}
                    </div>
            {{/if}}            
        </div>