<title>Admin Dashboard - AllTrade Manufacturing</title>
{{> naviAdmin}}
        <div class="dashboard-outer-container">
            <div class="all-tickets-main-container">
                <div class="all-tickets-outer-container">
                    <div class="all-tickets-inner-container">
                        <img id="all-tickets-icon" src="/public/img/all-tickets.png"/>

                        <div class="all-tickets-num">
                            <h1>{{ticketCount}}</h1>
                        </div>
                    </div>
                    <div class="all-tickets-label">
                        <a id="all-tickets" href="/all-tickets">All Tickets</a>
                    </div>
                </div>
            </div>

            <div class="tickets-handled-main-container">
                <div class="tickets-handled-outer-container">
                    <div class="tickets-handled-inner-container">
                        <img id="tickets-handled-icon" src="/public/img/tickets-handled.png"/>

                        <div class="tickets-handled-num">
                            <h1>{{handleCount}}</h1>
                        </div>
                    </div>
                    
                    <div class="tickets-handled-label">
                        <a id="tickets-handled" href="admin-tickets-handled.html"> Tickets Handled by Me</a>
                    </div>
                </div>
            </div>

            <div class="all-clients-main-container">
                <div class="all-clients-outer-container">
                    <div class="all-clients-inner-container">
                        <img id="all-clients-icon" src="/public/img/all-clients.png"/>

                        <div class="all-clients-num">
                            <h1> {{clientCount}}</h1>
                        </div>
                    </div>
                    
                    <div class="all-clients-label">
                        <a id="all-clients" href="/all-clients">All Clients</a>
                    </div>
                </div>
            </div>
        </div>