{{> navigationBar}}
 <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-toll-tab" data-toggle="pill" href="#pills-toll" role="tab" aria-controls="pills-toll" aria-selected="true"> Toll Manufacturing </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contract-tab" data-toggle="pill" href="#pills-contract" role="tab" aria-controls="pills-contract" aria-selected="false"> Contract Manufacturing </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-packaging-tab" data-toggle="pill" href="#pills-packaging" role="tab" aria-controls="pills-packaging" aria-selected="false"> Packaging Design & Development </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-formulation-tab" data-toggle="pill" href="#pills-formulation" role="tab" aria-controls="pills-formulation" aria-selected="false"> Product Formulation & Development </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-fabrication-tab" data-toggle="pill" href="#pills-fabrication" role="tab" aria-controls="pills-fabrication" aria-selected="false"> Fabrication of Production Machineries </a>
            </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
            <!-- Toll -->
            <div class="tab-pane fade show active" id="pills-toll" role="tabpanel" aria-labelledby="pills-toll-tab">
                <div class="toll-content1-container">
                    <div class="toll-content1">
                        <h3> Toll Manufacturing </h3>
                        <p>
                            We do partial or toll manufacturing based on an outsourcing arrangement in which you supply
                            the raw materials, pay a fee, and we just provide you with our manufacturing capabilities.
                        </p>
                    </div>
            
                    <div>
                        <img id="img-toll-content1" src="/public/img/core-toll.png" alt="Image Content">
                    </div>
                </div>

                <div class="toll-content2-container">
                    <div class="toll-content2">
                        <h3> Benefits of Toll Manufacturing </h3>
                       
                        <div class="toll-content2-info">
                            <h6> COST REDUCTION </h6>
                            <p>
                                We toll manufacturing and blending services, and you do not
                                need to invest capital in specialised machinery and equipment, human resource, or
                                physical site space. This allows them to leverage the toll manufacturers knowledge,
                                facilities, and capabilities.
                            </p>
                        </div>
            
                        <div class="toll-content2-info">
                            <h6> CUSTOMISATION </h6>
                            <p>
                                Outsourcing the service allows for an element of cusotmisation. From formats and engreidents, to
                                packaging and filling, having a toll manufacturing partner enable
                                companies to be selective and specific in their requirements.
                            </p>
                        </div>
            
                        <div class="toll-content2-info">
                            <h6> INCREASED EFFICIENCY </h6>
                            <p>
                                Through outsourcing your production to us, your company can produce unique formulation
                                and blends-at speed and ease.
                            </p>
                        </div>

                        <div class="toll-content2-info">
                            <h6> SPEED TO MARKET </h6>
                            <p>
                                Through our expertise on Toll Manufacturing and blending services
                                can help you deliver comprehensive solutions that drive innovative development
                                across a range of markets. It enables to be agile and innovative quicker
                                than their competitors.
                            </p>
                        </div>

                        <div class="toll-content2-info">
                            <h6> DYNAMIC QUALITY CONTROL SYSTEM </h6>
                            <p>
                                We have the Toll Manufacturing competence and technical knowledge
                                to formulate and manufacture in line with industry standards. 
                                From product analysis and testing, to adhering to legislative and regulatory
                                requirements. 
                            </p>
                        </div>
                    </div>
                </div>           
            </div>

            <!-- Contract -->
            <div class="tab-pane fade" id="pills-contract" role="tabpanel" aria-labelledby="pills-contract-tab">
                <div class="contract-content1-container">
                    <div class="contract-content1">
                        <h3> Contract Manufacturing </h3>
                        <p>
                            We are a hiring firm that makes an agreement to produce and 
                            ship your goods. We do this thru performing, carrying into execution or action;
                            execution; achievement; accomplishment, representation by action; as, the 
                            performance of an undertaking if a duty. 
                        </p>
                    </div>
            
                    <div>
                        <img id="img-contract-content" src="/public/img/core-contract.png" alt="Image Content">
                    </div>
                </div>

                <div class="contract-content2-container">
                    <div class="contract-content2">
                        <h3> Benefits of Contract Manufacturing </h3>
                       
                        <div class="contract-content2-info">
                            <h6> COST REDUCTION </h6>
                            <p>
                                Through hiring us, your company be able to save on cost of equipments,
                                manpower, experts and researchers and don't need to hire with full
                                salaries and benefits. 
                            </p>
                        </div>
            
                        <div class="contract-content2-info">
                            <h6> PRIORITIZATION OF RESOURCES </h6>
                            <p>
                                Outsourcing the service allows for an element of cusotmisation. From formats and engreidents, to
                                packaging and filling, having a toll manufacturing partner enable
                                companies to be selective and specific in their requirements.
                            </p>
                        </div>
            
                        <div class="contract-content2-info">
                            <h6> IMPROVED MANUFACTURING TIME </h6>
                            <p>
                                This leads to increase speed to market, improving delivery time and
                                service to customer. 
                            </p>
                        </div>

                        <div class="contract-content2-info">
                            <h6> EASIER MARKET TIME </h6>
                            <p>
                                Easier to maintain consistent productin of high-quality products.
                                This can also lead to better business relationships with potential
                                partners and future contractors. 
                            </p>
                        </div>
                    </div>
                </div>           
            </div>

            <!-- Packaging -->
            <div class="tab-pane fade" id="pills-packaging" role="tabpanel" aria-labelledby="pills-packaging-tab">
                <div class="packaging-content1-container">
                    <div class="packaging-content1">
                        <h3> Packaging Design and Development </h3>
                        <p>
                            Effective packaging for your product is what will make your
                            product stand out among the competition. It is important that
                            your packaging attract the attention of the consumer when it
                            sits on the shelves of a store.
                        </p>
                    </div>
            
                    <div>
                        <img id="img-packaging-content1" src="/public/img/core-packaging-1.png" alt="Image Content">
                    </div>
                </div>
            
                <div class="packaging-content2-container">
                    <div class="packaging-content2">
                        <img id="img-packaging-content2" src="/public/img/core-packaging-2.png" alt="Image Content">
                    </div>
            
                    <div class="packaging-content2">
                        <h3> Packaging Design's Function </h3>
                       
                        <div class="packaging-content2-info">
                            <h6> HELPS CUSTOMERS MAKE INFORMED DECISIONS </h6>
                            <p>
                                Your packaging should include information being readily
                                available on your packaging helps consumers make the decision 
                                to buy because they know exactly what they are getting.
                            </p>
                        </div>
            
                        <div class="packaging-content2-info">
                            <h6> HELPS DIFFERENTIATE YOU FROM COMPETITION </h6>
                            <p>
                                There may be brands in your industry, but custom packaging can help 
                                differentiate between your products and competitors', having a design 
                                that stands out will help consumers identify your product and will
                                elicit a positive reaction.
                            </p>
                        </div>
            
                        <div class="packaging-content2-info">
                            <h6> DELIVERS A MESSAGE TO CONSUMER </h6>
                            <p>
                                What does your packaging say about your company? Everything from
                                your logo placement down to the front should tell intended customers 
                                this is the product for them and why.
                            </p>
                        </div>
                    </div>
                </div>
            
                <div class="packaging-content3-container">
                    <div class="packaging-content3">
                        <h3> Packaging Design's Function </h3>
                       
                        <div class="packaging-content3-info">
                            <h6> PROTECTS THE PRODUCT </h6>
                            <p>
                                The primary function of product packaging is to protect items from 
                                damage, specially during transit. The right retail packaging also protects 
                                items while being stored in shelving.
                            </p>
                        </div>
            
                        <div class="packaging-content3-info">
                            <h6> ATTRACT CUSTOMERS </h6>
                            <p>
                                It's not enough that product packaging protects the goods inside.
                                Your packaging needs to be attractive and advertise your brand but also 
                                embodies your brand. The top custom packaging services will conduct extensive
                                research to decide which color schemes, designs, and type of product packaging will 
                                be most attractive to your audience and potential customers. 
                            </p>
                        </div>
            
                        <div class="packaging-content3-info">
                            <h6> PROMOTES THE PRODUCT </h6>
                            <p>
                                Having the right design scheme will do a lot of your product promotions for 
                                your business.
                            </p>
                        </div>
                    </div>
                </div>           
            </div>

            <!-- Formulation -->
            <div class="tab-pane fade" id="pills-formulation" role="tabpanel" aria-labelledby="pills-formulation-tab">
                <div class="formulation-content1-container">
                    <div class="formulation-content1">
                        <h3> Product Formulation and Development </h3>
                        <p>
                            Our product development teams are equipped
                            to meet all your formulation and product development
                            needs in a phase-appropriate manner.
                        </p>
                    </div>
            
                    <div>
                        <img id="img-formulation-content" src="/public/img/core-formulation.png" alt="Image Content">
                    </div>
                </div>

                <div class="formulation-content2-container">
                    <div class="formulation-content2-info">
                        <p>
                            • Application Program Interface (API) characterization
                            and problem statement definition.
                        </p>

                        <p>
                            • Technology selection for best formulation options. 
                        </p>

                        <p>
                            • Addressing bioavailability or dissolution rate issues.
                        </p>

                        <p>
                            • Profilling and modulating pharmacokinetics.
                        </p>

                        <p>
                            • Developing a formulation strategy and requirements.
                        </p>

                        <p>
                            • Developing and manufacturing phase-appropriate clinical materials.
                        </p>

                        <p>
                            • Developing and validating processing and analytical methods.
                        </p>

                        <p>
                            • Regulatory preparation services including generating and
                            documenting all requires data for clinical trial fillings.
                        </p>
                    </div>
                </div> 
            </div>

            <!-- Fabrication -->
            <div class="tab-pane fade" id="pills-fabrication" role="tabpanel" aria-labelledby="pills-fabrication-tab">
                <div class="fabrication-content1-container">
                    <div class="fabrication-content1">
                        <h3> Fabrication of Production Machineries </h3>
                        <p>
                            Our company is the leading entity in the fabrication of production machinery 
                            locally. We can match the quality of imported types of machinery from abroad by 
                            infusing our extensive exposure to how to design to fit our created machines 
                            in accordance with quality standards and best suited to the local manufacturing practices.
                        </p>
                    </div>
            
                    <div>
                        <img id="img-fabrication-content1" src="/public/img/core-fabrication.png">
                    </div>
                </div>
            
                <div class="fabrication-content2-container">
                    <div>
                        <img id="img-fabrication-content2" src="/public/img/core-fabrication-2.png">
                    </div>
            
                    <div class="fabrication-content2"> 
                        <div class="fabrication-content2-info">
                            <p>
                                Your packaging should include information being readily
                                available on your packaging helps consumers make the decision 
                                to buy because they know exactly what they are getting.
                            </p>
                        </div>
            
                        <div class="fabrication-content2-info">
                            <p>
                                We are proud to mention that government entities such as DOST and UPLB
                                partner with us in prototypes of products they exhibit and introduce to the market.
                                We don't just follow and fabricate to them the requested machines but 
                                add more innovations and recommendations to have more efficient products that we can offer.
                            </p>
                        </div>
            
                        <div class="fabrication-content2-info">
                            <p>
                                We do that and drive by our passion to uplift the capability of Filipino talents,
                                contributing to elevate the science of creating products based on our local raw materials
                                into some innovative products, with the help of our fabricated efficient,
                                and effective machinery.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>