
    {{> navigationBar}}
    <div class="main-container">
            <div class="img-container">
                <img id="img-content" src="/img/img-login.jpg">
            </div>    
            
            <div class="login-main-container">
                <div class="login-sub-container">
                    <div class="login-header">
                        <div class="login-title">
                            <h3> Welcome Back! </h3>
                        </div>
                    </div>
                          
                    <form class="login-form" action ="/login" method="post">
                        <div class="form-group row">
                            {{!-- <label name="usernameLogin" class="col-sm-2 col-form-label">Username</label> --}}
                            <input type="text" name="usernameLogin" class="form-control" id="inputUsername" placeholder="Username">
                        </div>
    
                        <div class="form-group row">
                            {{!-- <label for="inputPassword3" class="col-sm-2 col-form-label"> Password </label> --}}
                            <input type="password" name="passwordLogin" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>

                        <div class="remember-me-container">
                            <input type="checkbox" id="remember-me" name="remember" value="Bike">
                            <label for="remember-me"> Remember Me? </label><br>
                        </div>

                         <a href="/forgot-password">Forgot Password?</a>

                         <button type="submit" value="Log In"  name="submit-log-in" class="btn btn-primary"> LOGIN </button>
                    </form>

                    {{!-- <div class="forgot-pass-container">
                        <p> Forgot Password? </p>
                    </div> --}}
                    <div class="bottom">
                    {{!-- {{#if errorMessage}}
                        <div class="error-message">
                            {{errorMessage}}
                        </div>
                    {{/if}} --}}

                    {{#if errorMessage}}
                    <div class="alert alert-danger" role="alert">
                        {{errorMessage}}
                    </div>
                    {{/if}}
                    <div class="old-new-account">
                        New client?
                        <a href="/register">Register</a>
                    </div>
                </div>

                    
                </div>
            </div>
        </div>

        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>