<div class="login-form-outer-container">
            <div class="img-outer-container">
                <!-- Home Button -->
                <div>
                    <a href="/"> <button id="home-btn"> Home </button></a>
                </div>

                <!-- Logo -->
                <div class="img-inner-container">
                    <img id="img-alltrade-icon-content" src="/public/img/alltrade-icon.png">
                </div>
            </div>
           
            <!-- Login Form -->
            <div class="login-main-container">
                <div class="login-header">
                    {{#if errorMessage}}
                    <div class="alert alert-danger" role="alert">
                        {{errorMessage}}
                    </div>
                    {{/if}}

                    <div class="login-title">
                        <h3> Welcome Back! </h3>
                    </div>
                </div>

                <form class="login-form" action="/login" method="post">
                    <div class="form-group row" id="form-username" >
                        <input type="text" name="usernameLogin" class="form-control" id="inputUsername" placeholder="Username">
                    </div>

                    <div class="form-group row" id="form-password">
                        <input type="password" name="passwordLogin" class="form-control" id="inputPassword" placeholder="Password">
                    </div>

                    <div class="remember-forgot-container">
                        <div class="remember-me-container">
                            <input type="checkbox" id="remember-checkbox" name="remember" value="check">
                            <label id="remember-label" for="remember-checkbox"> Remember Me</label><br>
                        </div>

                        <div class="forgot-password-container">
                            <a href="/forgot-password" id="forgot-password"> Forgot Password? </a>
                        </div>
                    </div>

                    <button type="submit" value="Log In" name="submit-log-in" class="btn btn-primary" id="login-btn"> Login </button>
                </form>

                {{!-- <div class="forgot-pass-container">
                    <p> Forgot Password? </p>
                </div> --}}
                <div class="bottom">
                {{!-- {{#if errorMessage}}
                    <div class="error-message">
                        {{errorMessage}}
                    </div>
                {{/if}} --}}

                <div class="old-new-account">
                    New client?
                    <a id="register-label" href="/register">Register</a>
                </div>                    
            </div>
        </div>
        
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const errorMessage = document.querySelector('.alert-danger');
                setTimeout(function() {
                    if (errorMessage) {
                        errorMessage.style.display = 'none';
                    }
                }, 5000); //5sec
            });
        </script>