<title>#{{this.orderNum}} Replies - AllTrade Manufacturing</title>
{{> naviClient}}
<button onclick="history.back()" class="back-history">Back</button>
{{> ticketAnchor}}
{{> replies}}
{{> new-reply}}