/* Main container */

body{
    max-width: 100%;
    margin:0 auto;
}

.main-outer-container {
    background-color: #E6ECEE;
    height: 100%;
    width: 100%;
}

/* Ticket Header */
.header-inner-container {
    display: flex;
    align-items: stretch;
    background-color: #DFDFD4;
    border-radius: 5px;
    width: 100%;
    height: 18vh;
}

/* Create Ticket */ 
.create-client-container {
    width: 100%;
}

#create-client-btn {
    float: right;
    height: 8vh;
    min-width: 15vw;
    margin-right: 4rem;
    margin-top: 2rem;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    border: 2px solid #435933;
    background-color: #435933;
    box-shadow: 0 0 2px rgb(28, 24, 24);
    border-radius: 4px;
}   

#create-client-btn:hover {
    background-color: #214825;
    border: 2px solid #214825;
    box-shadow: 0 0 5px rgb(60, 47, 47);
    color: white;
    transition: 0.7s;
    cursor: pointer;
}

/* Client Modal Form */
#clientModal::-webkit-scrollbar {
    display: none;
}

#client-form-main {
    background-color: #F7F8F6;
}

#client-form-header h5,
#close-btn {
   font-family: "Montserrat", sans-serif;
}

#client-form-content::placeholder {
    font-family: "Montserrat", sans-serif;
}

.form-control {
    margin-top:0;
}

.form-control:focus,
#add-account-btn:focus {
    border-color: #5A3E29 !important;
    box-shadow: 0 0 5px #5A3E29 !important;
}

#add-account-btn {
    font-family: "Montserrat", sans-serif;  
    background-color: #AF593E;
    border-color: #AF593E;
}

/* Ticket */
.admin-all-client-outer-container {
    display: flex;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
}

.admin-all-client-inner-container {
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px gray;
    border-radius: 6px;
    width: 100%;
    margin-top: 0.5rem;
}

.admin-all-client-container1 {
    width: 100%;
}

.all-client-client-order-container {
    margin-left: 1rem;
}

.all-client-client-details {
    margin-top: 1.5rem;
}

.all-client-client-details p {
    font-family: "Opens-sans", sans-serif;
    font-size: 1em;
    margin-top: -0.5rem;
}

#all-client-creation-date,
#all-client-view-tickets{
    color: #545050;
}

.all-client-view-details-container {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.all-client-view-details {
    color: #545050;
    cursor: pointer;
    text-decoration: underline;
}

.all-client-ticket-container2 {
    display: flex;
    width: 100%;
}

.all-client-client-status-container {
    text-align: center;
    margin-top: 2.5rem;
    margin-right: 1rem;
    padding: 2px;
    min-width: 15vw;
    min-height: 10vh;
    border-radius: 50px;
    background-color: #65A8FF;
    color: #444141;
}

.all-client-client-status p {
    font-weight: 600;
    margin-top: 1.2rem;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

/* Manager Button */
.admin-all-client-container2 {
    width: 100%;
}

.manage-button-container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4.5rem;
    padding: 2px;
    cursor: pointer;
}

.manage {
    border-radius: 8px;
    background-color: #246094;
    border-color: #246094;
    box-shadow: 0 0 2px gray;
    cursor: pointer;
    color: white;
    margin-top: -0.5rem;
    margin-right: 2rem;
    min-width: 15vw;
    min-height: 8vh;
}

.manage:hover{
    background-color: #879fdd;
    border-color: #879fdd;
}

/* Delete Button */
.delete {
    border-radius: 8px;
    background-color: #011F4B;
    border-color: #011F4B;
    box-shadow: 0 0 2px gray;
    cursor: pointer;
    color: white;
    margin-top: -0.5rem;
    margin-right: 2rem;
    min-width: 15vw;
    min-height: 8vh;
}

.delete:hover{
    background-color: #425e71;
    border-color: #425e71;
}

/* Yes Button */
.yes-btn {
    background: #8A5D3C;
    border: 2px solid #8A5D3C;
    width: 3rem;
    height: 2.3rem;
    border-radius: 4px;
    color: white;
    box-shadow: 0 0 2px gray;
    cursor: pointer;
}

.yes-btn:hover {
    background: #523622;
    border: 2px solid #523622;
}

/* Manage Modal */
