/* Main container */
body{
    max-width: 100%;
    margin:0 auto;
}

.main-outer-container {
    background-color: #E6ECEE;
    height: 100vh;
    width: 100vw;
}

/* Ticket */
.admin-all-ticket-outer-container {
    display: flex;
    justify-content: center;
}

.admin-all-ticket-inner-container {
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px gray;
    border-radius: 6px;
    width: 81rem;
    margin-top: 2rem;
}

.admin-all-ticket-container1 {
    width: 100%;
}

.all-ticket-client-order-container {
    margin-left: 1rem;
    width: 50vw;
}

.all-ticket-client-order-details {
    margin-top: 1.5rem;
}

.all-ticket-client-order-details p {
    font-family: "Opens-sans", sans-serif;
    font-size: 1em;
    margin-top: -0.5rem;
}

#all-ticket-creation-date {
    color: #545050;
}

.all-ticket-view-ticket-container {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

#all-ticket-view-ticket {
    color: #545050;
    text-decoration: underline;
}

.admin-all-ticket-container2 {
    display: flex;
    width: 100%;
}

.all-ticket-client-status-container {
    text-align: center;
    margin-top: 1.5rem;
    margin-left: 20rem;
    margin-right: 1rem;
    padding: 2px;
    width: 15vw;
    height: 10vh;
    border-radius: 30px;
    background-color: #FFBA6D;
    color: #545050;
}

.all-ticket-client-order-status p {
    font-weight: 600;
    margin-top: 1.2rem;
}