/* Main container */
.main-outer-container {
    background-color: #E6ECEE;
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.user-info {
    display: flex;
    margin-left: 50rem;
}

.user-info p {
    text-align: center;
    padding: 1rem;
    margin: 0.2rem;
}

.logout-container {
    margin-left: 0.5rem;
}

#logout-btn {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    color: #435933;
    border: 2px solid #435933;
    cursor: pointer;
}

/* Ticket Header */
.header-outer-container {
    background-color: #E6ECEE;
    display: flex;
    justify-content: center;
}

.header-inner-container {
    display: flex;
    background-color: #DFDFD4;
    border: 2px solid #215219;
    margin: 3rem;
    width: 100%;
}

/* Search Box */
.search-box-container {
    margin: 2rem;
}

input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #215219;
    border-radius: 4px;
}

/* Dropdown */
#dropdown-container {
    margin-top: 50px;
    margin-right: 120vh;
}

#sort-by {
    text-align: center;
    font-size: 16px;
}

#sort-by:hover {
    cursor: pointer;
}

/* Create Ticket */ 
.create-ticket-container {
    display: flex;
    justify-content: end;
    margin-top: 2.3rem;
    margin-right: 45px;
}

#create-btn {
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #435933;
    border-radius: 5px;
    background-color: #435933;
    color: white;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 8vh;
    width: 12vw;
}   

#create-btn:hover {
    background-color: #8b352f;
    border: 2px solid #8b352f;
    color: white;
    transition: 0.7s;
    cursor: pointer;
}

/* Ticket */
.ticket-outer-container {
    display: flex;
    justify-content: center;
}

.ticket-inner-container {
    display: flex;
    background-color: #FFFFFF;
    border: 2px solid #4c4c4c;
    width: 81rem;
    margin-bottom: 20px;
}

.ticket-container1 {
    width: 100%;
}

.ticket-container2 {
    display: flex;
    width: 100%;
}

.order-number p,
.creation-date p,
.priority-level p, 
.order-status p {
    font-family: "Opens-sans", sans-serif;
    font-size: 16px;
}

.number-container {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
}

.date-container {
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.priority-container {
    text-align: center;
    margin-top: 30px;
    margin-left: 300px;
    padding: 2px;
    width: 15vw;
    height: 10vh;
    border-radius: 10px;
    background-color: #B6747A;
    color: white;
}

.status-container {
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 20px;
    padding: 2px;
    width: 15vw;
    height: 10vh;
    border-radius: 10px;
    background-color: #FFD361;
    color: #545050;
}

.priority-level p {
    font-weight: 600;
    margin: 5px;
}

.order-status p {
    font-weight: 600;
    margin-top: 20px;
}

/* Ticket Modal Form */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 2px 16px;
    background-color: #D5E6B9;
    color: rgb(45, 44, 44);
}
  
.modal-body {
    padding: 2px 16px;
}
  
.modal-footer {
    padding: 2px 16px;
    background-color: #D5E6B9;
    color: rgb(45, 44, 44);
}