body{
    max-width: 100%;
    margin:0 auto;
}

/* Client Navbar */
.user-info-container {
    display: flex;
    justify-content: end;
    width: 90vw;
    margin-top: 1rem;
}

.username {
    display: flex;
    justify-content: end;
    margin-bottom: -1rem;
}

.logout-container {
    display: flex;
    justify-content: end;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

#logout-btn {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #435933;
    cursor: pointer;
}

#changePassLink {
    color: rgb(70, 129, 165);
    cursor: pointer;
}