/* Main container */
.main-outer-container {
    background-color: #E6ECEE;
    height: 100vh;
    width: 100vw;
}

/* Ticket Header */
.header-inner-container {
    display: flex;
    align-items: stretch;
    background-color: #DFDFD4;
    border-radius: 5px;
    width: 100%;
    height: 18vh;
    margin-top: 0.2rem;
    box-shadow: 0 0 4px grey;
}

/* Search Box */
#search-box-client {
    margin-top: 2.2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding: 0.5rem;
    width: 25vw;
    height: 8vh;
    box-sizing: border-box;
    border: 1px solid #215219;
}

#search-box-client::placeholder {
    font-family: "Montserrat", sans-serif;
}

/* Dropdown */
#sort-by-client {
    font-family: "Montserrat", sans-serif;
    margin-top: 3rem;
    margin-left: -1rem;
    text-align: center;
    font-size: 1.2em;
}

#sort-by-client:hover {
    cursor: pointer;
}

/* Create Ticket */ 
.create-ticket-container {
    width: 100%;
}

#create-btn {
    float: right;
    height: 8vh;
    width: 15vw;
    margin-right: 4rem;
    margin-top: 2rem;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    border: 2px solid #435933;
    border-color: #435933;;
    background-color: #435933;
    border-radius: 10px;
}   

#create-btn:hover {
    background-color: #214825;
    border: 2px solid #214825;
    box-shadow: 0 0 5px rgb(60, 47, 47);
    color: white;
    transition: 0.7s;
    cursor: pointer;
}

/* Ticket Modal Form */
#ticketModal::-webkit-scrollbar {
    display: none;
}

#ticket-form-main {
    background-color: #F7F8F6;
}

#ticket-form-header h5,
#close-btn {
   font-family: "Montserrat", sans-serif;
}

#ticket-form-content::placeholder {
    font-family: "Montserrat", sans-serif;
}

.client-form-control {
    margin-top: 2rem;
}

.client-form-control:focus,
#request-btn:focus {
    border-color: #5A3E29 !important;
    box-shadow: 0 0 5px #5A3E29 !important;
}

#request-description,
#request-specs {
    height: 30vh;
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#request-quantity {
    margin-top: 1rem;
}

#request-btn {
    font-family: "Montserrat", sans-serif;  
    background-color: #AF593E;
    border-color: #AF593E;
}

/* Ticket */
.ticket-outer-container {
    display: flex;
    justify-content: center;
}

.ticket-inner-container {
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px gray;
    border-radius: 6px;
    width: 81rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.ticket-container1 {
    width: 100%;
}

.order-container {
    margin-left: 1rem;
}

.order-details {
    margin-top: 1.5rem;
}

.order-details p {
    font-family: "Opens-sans", sans-serif;
    font-size: 1em;
    margin-top: -0.5rem;
}

#creation-date,
#ticket-handler {
    color: #545050;
}

.ticket-container2 {
    display: flex;
    width: 100%;
}

.priority-container {
    text-align: center;
    margin-top: 1.8rem;
    margin-left: 10rem;
    padding: 0.1rem; 
    width: 15vw;
    height: 10vh;
    border-radius: 50px;
    background-color: #ca6870;
    color: white;
}

.status-container {
    text-align: center;
    margin-top: 1.8rem;
    margin-left: 2rem;
    margin-right: 1rem;
    padding: 2px;
    width: 15vw;
    height: 10vh;
    border-radius: 50px;
    color: #545050;
}

.priority-level p {
    font-weight: 600;
    margin: 1.2rem;
}

.order-status p {
    font-weight: 600;
    margin-top: 1.2rem;
    background-color: #94e495;
    text-align: center;
    margin-top: 0rem;
    margin-left: 2rem;
    margin-right: 1rem;
    padding-top: 1.2rem;
    width: 15vw;
    height: 10vh;
    border-radius: 50px;
    color: #545050;
}

.manageBtn {
    border-radius: 8px;
    background-color: #246094;
    border-color: #246094;
    box-shadow: 0 0 2px gray;
    cursor: pointer;
    color: white;
    margin-top: 0rem;
    margin-right: 2rem;
    margin-left: 2rem;
    min-width: 15vw;
    min-height: 9.5vh;
}

.manageBtn:hover{
    background-color: #1b3883;
    border-color: #1b3883;
    box-shadow: 0 0 2px gray;
}

#handle-btn {
    border-radius: 8px;
    background-color: #246094;
    border-color: #246094;
    box-shadow: 0 0 2px gray;
    cursor: pointer;
    color: white;
    margin-top: 0rem;
    margin-right: 2rem;
    min-width: 15vw;
    min-height: 9.5vh;
}

#handle-btn:hover {
    background-color: #1b3883;
    border-color: #1b3883;
    box-shadow: 0 0 2px gray;
}