.header-outer-container {
    display: flex;
    background-color: #DFDFD4;
}

/* Dropdown */
#dropdown-container {
    margin-left: 20px;
    margin-top: 32px;
}

#dropdown-btn {
    background-color: rgb(30, 101, 194);
    border: rgb(30, 101, 194);
}

/* Search Box */
.search-box-container {
    margin: 20px;
}

input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 4px;
}

/* Create Ticket */ 
.create-ticket-container {
    margin-top: 28px;
}

#create-btn {
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #AD4F00;
    border-radius: 4px;
    background-color: #AD4F00;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    height: 48px;
    width: 80px;
}   

#create-btn:hover {
    background-color: #b91f14;
    border: 2px solid #b91f14;
    color: white;
    transition: 0.7s;
}

.ticket-container{
    display: flex;
    flex-direction: row;
}

.progress-box{
    height: 50px;
    width: 150px;
    background-color: #f3efef;
    padding: 5px;
    flex:right;
}
.status{
    margin: 3px;
}