.fabrication-content1-container {
    background-color: #BBC191;
    display: flex;
}

.fabrication-content1 {
    margin: 150px;
    text-align: left;
}

.fabrication-content1 h3 {
    font-family: "Montserrat", sans-serif;
}

.fabrication-content1 p {
    font-family: "Open-sans", sans-serif;
    margin-top: 20px;
}

#img-content1 {
    height: 500px;
    width: 600px;
    margin-right: 50px;
    margin-top: 30px;
}

.fabrication-content2-container {
    background-color: #84A869;
    display: flex;
}

.fabrication-content2 {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    margin-top: 80px;
    margin-right: 50px;
    margin-left: 100px;
}

.fabrication-content2-title {
    margin-bottom: 20px;
}

.fabrication-content2-info {
    font-family: "Open-sans", sans-serif;
    padding: 12px;
    margin: 20px;
    margin-left: -20px;
    text-align: justify;
}

#img-content2 {
    height: 500px;
    width: 600px;
    margin-left: 50px;
    margin-top: 85px;
    margin-bottom: 30px;
}