.toll-content1-container {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #D0CBA4;
}

.toll-content1-container h6 {
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
}

.toll-content1-container p {
    font-size: 20px;
    font-family: "Open-sans", sans-serif;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    margin-top: 25px;
}

.toll-content2-container {
    display: flex;
}

.info-content-container,
.info-content-container2 {
    display: flex;
    background-color: #C8AD80;
    width: 50%;
}

.info-content {
    margin: 20px;
}

.info-content h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}

.info-content p {
    font-family: "Open-sans", sans-serif;
    font-size: 16px;
    text-align: justify;
    padding-right: 50px;
}