.packaging-content1-container,
.packaging-content2-container,
.packaging-content3-container {
    background-color: #F3F2F2;
    display: flex;
}

.packaging-content1 {
    font-family: "Montserrat", sans-serif;
    margin: 200px;
    text-align: left;
}

.packaging-content1 p {
    font-family: "Open-sans", sans-serif;
    margin-top: 20px;
}

#img-content1 {
    height: 500px;
    width: 600px;
    margin-right: 50px;
    margin-top: 30px;
}

.packaging-content2 {
    text-align: left;
    margin-top: 80px;
    margin-right: 50px;
    margin-left: 100px;
}

#img-content2 {
    height: 500px;
    width: 600px;
}

.packaging-content2 h3{
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    margin-left: -50px;
}

.packaging-content2-info {
    font-family: "Open-sans", sans-serif;
    padding: 5px;
    margin-left: -50px;
}

.packaging-content3 {
    font-family: "Open-sans", sans-serif;
    text-align: left;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.packaging-content3 h3 {
    font-family: "Montserrat", sans-serif;
    margin-top: 30px;
}

.packaging-content3-info h6 {
    font-size: 20px;
    margin-top: 50px;
}

.packaging-content3-info p {
    font-size: 18px;
}