.contract-content1-container {
    display: flex;
    background-color: #E6ECEE;
}

.contract-content1-info h2 {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    margin-top: 150px;
}

.contract-content1-info p {
    font-family: "Open-sans", sans-serif;
    text-align: left;
    margin-top: 30px;
    margin-right: 100px;
}

.img-content1-container {
    margin: 30px;
}

.img-content1-container img {
    height: 500px;
    width: 660px;
}

.contract-content2-container {
    display: flex;
}

#contract-content2-info1 {
    background-color: #C6D4D8;
    width: 800px;
    height: 400px;
}

#contract-content2-info1 h4 {
    font-family: "Montserrat", sans-serif;
    margin-top: 120px;
    margin-left: 40px;
}

#contract-content2-info1 p {
    font-family: "Open-sans", sans-serif;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 40px;
    text-align: justify;
}

#contract-content2-info2 {
    background-color: #AAC2CE;
    width: 800px;
    height: 400px;
}

#contract-content2-info2 h4 {
    font-family: "Montserrat", sans-serif;
    margin-top: 80px;
    margin-left: 40px;
}

#contract-content2-info2 p {
    font-family: "Open-sans", sans-serif;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 40px;
    text-align: justify;
}

#contract-content2-info3 {
    background-color: #D2B08C;
    width: 800px;
    height: 400px;
}

#contract-content2-info3 h4 {
    font-family: "Montserrat", sans-serif;
    margin-top: 120px;
    margin-left: 40px;
    margin-right: 20px;
}

#contract-content2-info3 p {
    font-family: "Open-sans", sans-serif;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 40px;
    text-align: justify;
}

#contract-content2-info4 {
    background-color: #A38672;
    width: 800px;
    height: 400px;
}

#contract-content2-info4 h4 {
    font-family: "Montserrat", sans-serif;
    margin-top: 120px;
    margin-left: 40px;
    margin-right: 20px;
}

#contract-content2-info4 p {
    font-family: "Open-sans", sans-serif;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 40px;
    text-align: justify;
}