.formulation-content1-container {
    display: flex;
    background-color: #AAC2CE;
    justify-content: center;
}

.formulation-content1-title {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.formulation-content1-title h2 {
    font-family: "Montserrat", sans-serif;
}

#img-content2 {
    margin: 30px;
}

.formulation-content2-container {
    display: flex;
    justify-content: center;
}

.formulation-content3-container {
    display: flex;
    justify-content: center;
    background-color: #C6D4D8;
}

.formulation-content3-info {
    text-align: left;
    padding: 40px;
}

.formulation-content3-info p {
    font-size: 20px;
}

.formulation-content4-info {
    text-align: left;
    padding: 40px;
}

.formulation-content4-info p {
    font-size: 20px;
}
