@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html::-webkit-scrollbar{
    display: none;
}

body{
    max-width: 100%;
    margin:0 auto;
}
html{
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

/* Navbar */
#main-header {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}

#logo-img {
    height: 10vh;
    min-width: 14vw;
}

#about:hover,#services:hover,
#profile:hover,
#core:hover, #contact:hover,
#inquire:hover, #login:hover {
    color: #C2DB8F;
}

li {
    display: inline;
}

.nav-space {
    margin-left: 30rem;
}