.main-container {
  background-color: rgb(226, 226, 226);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: left;
  width: 100%;
}

#img-content {
  margin: 0;
  width: 40vw;
  height: 115vh;
}

.login-main-container {
  margin-top: 0rem;
  width: 100%;
}

.login-sub-container {
  background-color: #F3F2F2;
  margin-top: 12rem;
  margin-left: 10rem;
  margin-right: 10rem;
  border-radius: 20px;
  width: auto;
  height: 30rem;
}

.login-header {
  background-color: #8FB885;
  padding: 1rem;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.login-title h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-top: 0.5em;
}

.login-form {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

label {
  font-family: "Montserrat", sans-serif;
  margin-left: -1rem;
}

.remember-me-container {
  margin-left: 2rem;
}

#remember-checkbox {
  margin-right: 1rem;
}

.forgot-pass-container {
  margin-left: 2rem;
}

#login-btn {
  background-color: #435933;
  border-color: #435933;
  float: right;
  margin-right: 2rem;
}