#logo-img{
    height: 10vh;
    width: 10vh;
}

#about-us:hover,#service:hover,
#company-profile:hover,
#core:hover, #contact-us:hover,
#inquire:hover, #login:hover,
#dropdownMenuLink:hover {
    color: #C2DB8F;
}

li {
    display: inline;
}
.nav-space{
    margin-left: 350px;
}

/* #contact-us, #inquire, #login { 
} */

/* #inquire {
    position: absolute;
    margin-left: 340px;
}

#login {
    position: absolute;
    margin-left: 480px;
} */

.main-container {
    background-color: #090909;
    display: flex;
    justify-content: center;
    align-items: center;
}

.core-container {
    background-color: #FEFFFE;
    display: flex;
    align-items: center;
    justify-content: center;
}

#core-title {
    font-family: "Bevan", sans-serif;
    font-size: 50px;
    text-shadow:2px 2px 2px gray;
    color: #215219;
    margin-top: 60px;
}

.core-content-title {
    padding: 40px;
    color: white;
    background-color: #677424;
}

#dropdownMenuLink {
    background-color: #FEFFFE;
    border-color: #FEFFFE;
    color: black;
    margin-right: 30px;
}

.carousel-img {
    height: 800px;
}

.service-container{
    background-color: #C2DB8F;
}

.service-title-container {
    display: flex;
    justify-content: center;
}

#service-title {
    font-family: "Bevan", sans-serif;
    font-size: 50px;
    text-shadow:2px 2px 2px gray;
    color: #215219;
    margin-top: 100px;
}

.service-title2-container {
    display: flex;
    justify-content: center;
}

#service-title2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-shadow:2px 2px 2px gray;
    color: #215219;
    margin-top: 50px;
}

.card {
    min-width:  100px; 
    max-width:  300px;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
}

.card-col-6 {
    flex:  0  0  50%;
    box-sizing: border-box;
    padding: 20px;
}

#read-more-btn {
    background-color: #846954;
    border: #846954;
}
