/* Main background */
.main-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#img-content {
    margin-top: 0.5rem;
    width: 100vw;
    height: auto;
}

/* About Carousel */
#about-profile {
    width: 100vw;
    margin-bottom: 2rem;
}

/* Contact and Inquire */
.contact-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

.contact-container {
    background-color: black;
    color: white;
}

.contact-title {
    background-color: #0B7649;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    width: 30%;
    font-size: 1.5rem;
}

.contact-content-container {
    font-family: "Open-sans", sans-serif;
    margin: 7.5rem;
    padding: 2rem;
}

.contact-title h6,
.inquire-title h6 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 1.2rem;
}

.inquire-container {
    justify-content: right;
    background-color: #DFDFD4;
    width: 50%;
}

.inquire-title {
    background-color: #0B7649;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    width: 30%;
    font-size: 1.5rem;
    float: right;
}

.inquire-content-container {
    margin-top: 8rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

#send-btn {
    font-family: "Montserrat", sans-serif;
    background-color: #84A869;
    border-color: #84A869;
    color: white;
    font-weight: 500;
    float: right;
    margin-top: -1rem;
    margin-bottom: 2rem;
    width: 8vw;
}

#inputCompanyName {
    width: 38vw;
}

#divMessage {
    display:inline-block;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 4px;
    min-height: 20vh;
    width: 38vw;
    color: rgb(165, 156, 156);
    margin-bottom: 1rem;
}

#divMessage:empty:not(focus):before {
    content:attr(data-placeholder);
}  

#divMessage:empty:focus:before {
    content: "";
}  

.inquire-content-container p {
    color: rgb(182, 67, 67);
}

label {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.branches-outer-container {
    display: flex;
    background-color: white;
}

.branches-inner-container h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    margin-left: 7rem;
    margin-top: 2rem;
    color: green;
}

.branches-inner-container p {
    font-family: "Open-sans", sans-serif;
    font-size: 16px;
    margin-left: 7rem;
    margin-top: 0.5rem;
    margin-right: 2rem;
}