/* Main background */
.main-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#img-content {
    margin-top: 0.5rem;
    min-width: 100vw;
    min-height: auto;
}

/* About Carousel */
#about-profile {
    min-width: 100vw;
}

/* Contact and Inquire */
.contact-main-container {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    min-width: 100%;
    min-height: 100vh;
}

.contact-container {
    background-color: black;
    color: white;
}

.contact-title {
    background-color: #0B7649;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    width: 30%;
    font-size: 1.5rem;
}

.contact-content-container {
    font-family: "Open-sans", sans-serif;
    font-size: 1.3em;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 10rem;
}

.contact-title h6,
.inquire-title h6 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 1.2rem;
}

.inquire-container {
    justify-content: right;
    background-color: #DFDFD4;
    width: 50%;
}

.inquire-title {
    background-color: #0B7649;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    width: 30%;
    font-size: 1.5rem;
    float: right;
}

.inquire-content-container {
    padding-top: 8rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

#send-btn {
    font-family: "Montserrat", sans-serif;
    background-color: #84A869;
    border-color: #84A869;
    color: white;
    font-weight: 500;
    float: right;
    margin-top: -1rem;
    margin-bottom: 2rem;
    width: 8vw;
}

#inputCompanyName {
    min-width: 35vw;
}

#inputMessage {
    min-height: 30vh;
    width: 100%;
    background-color: white;
    border: none;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

#inputFirstName,
#inputLastName,
#inputEmail,
#inputNumber,
#inputCompanyName {
    margin: 0;
}

.inquire-content-container p {
    color: rgb(182, 67, 67);
}

label {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.branches-outer-container {
    display: flex;
    background-color: white;
}

.branches-inner-container h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    margin-left: 7rem;
    margin-top: 2rem;
    color: green;
}

.branches-inner-container p {
    font-family: "Open-sans", sans-serif;
    font-size: 16px;
    margin-left: 7rem;
    margin-top: 0.5rem;
    margin-right: 2rem;
}