body{
    max-width: 100%;
    margin:0 auto;
}

#mytab {
    background-color: #E5EEED;
}

.nav-tabs > li > a.active {
    background-color: #435933 !important;
    color: #ffffff !important;
}
  
.nav-tabs > li > a:hover {
    color: black !important;
}
  
.nav-link {
    color: black;
}

/* DOST */
#dost-container {
    background-color:#59679a;
    margin-top: 1rem;
}

.dost-content1-container {
    display: flex;
}

#dost-img {
    margin: 4rem;
    width: 20vw;
    height: 35vh;
}

.dost-title-container h3 {
    font-family: "Montserrat", sans-serif;
    margin-top: 8rem;
    color: white;
}

.dost-content1-container p {
    font-family: "Open-sans", sans-serif;
    font-size: 1.3em;
    color: white;
}

.dost-content2-container {
    display: flex;
    justify-content: center;
}

.dost-fiber-container {
    margin-bottom: 3rem;
    margin-right: 3rem;
}

.dost-fiber-container h6,
.dost-natural-container h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    color: white;
}

#fiber-img,
#natural-img {
    width: 40vw;
    height: 20vh;
}

/* UPLB */
#uplb-container {
    background-color:#59679a;
    margin-top: 1rem;
    color: white;
}

.uplb-content1-container {
    display: flex;
    justify-content: center;
}

.uplb-title-container h3 {
    margin-top: 8.5rem;
    font-family: "Montserrat", sans-serif;
}

.uplb-title-container p {
    font-family: "Open-sans", sans-serif;
    font-size: 1.4em;
}

#uplb-img {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 20vw;
    height: 40vh;
}

.uplb-img-tank {
    margin-top: 1rem;
    width: 50vw;
    height: 70vh;
}

.uplb-img-tank1 {
    margin-top: 0.3rem;
    width: 50vw;
    height: 70vh;
}

.uplb-content2-container {
    display: flex;
    justify-content: center;
}

.uplb-img-tank2 {
    margin-top: -2rem;
    width: 50vw;
    height: 70vh;
}