.formPopup {
    display: none;
    position: fixed;
    border: 10px solid #f1f1f1;
    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
    padding-bottom: 2dvw;
    padding-left: 2dvw;
    padding-right: 2dvw;
}