        <!-- Contact and Inquire -->
        <div class="contact-main-container" id="contact-form">
            <div class="contact-container">
                <div class="contact-title">
                    <h6> Contact Us </h6>
                </div>
                
                <div class="contact-content-container">
                    <p id="contact-address">
                        ADDRESS <br>
                        9056 PVR Compound, DRT Highway,
                        Tangos, Baliwag, Bulacan, Baliuag, Philippines
                    </p>

                    <p id="contact-number">
                        CONTACT NUMBER <br>
                        0939 943 4209
                    </p>

                    <p id="contact-email">
                        EMAIL ADDRESS <br>
                        humanresourceatmm@gmail.com
                    </p>
                </div>
            </div>

            <div class="inquire-container">
                <div class="inquire-title">
                    <h6> Inquire Now </h6>
                </div>

                <div class="inquire-content-container">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputFirstName">First name </label>
                                <input type="text" class="form-control" id="inputFirstName" placeholder="First name">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputLastName"> Last name </label>
                                <input type="text" class="form-control" id="inputLastName" placeholder="Last name">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputEmail4"> Email address </label>
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email address">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputNumber"> Phone number </label>
                                <input type="number" class="form-control" id="inputNumber" placeholder="Phone number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputMessage"> Message/Inquiry </label>
                            <textarea> Write a message... </textarea>
                        </div>

                        <button type="submit" class="btn btn-primary" id="send-btn"> SEND </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="branches-outer-container">
            <div class="branches-inner-container">
                <h6> LUZON PLANT (MAIN): </h6>
                <p>
                    9056 PVR Compound, DRT Highway, Tangos, Baliwag, Bulacan
                    <br>
                    Contact Number: 0917-308-6927
                </p>
            </div>

            <div class="branches-inner-container">
                <h6> VISAYAS PLANT (CEBU): </h6>
                <p>
                    Hernan Cortes St., Banilad, Mandaue City, Cebu
                    <br>
                    Contact Number: 0977-873-1229
                </p>
            </div>

            <div class="branches-inner-container">
                <h6> MINDANAO PLANT (CDO): </h6>
                <p>
                    CHF, Cagayan De Oro Oil Mill, Purok 3, Barangay Tablon,
                    Misamis Oriental
                    <br>
                    Contact Number: 0976-000-8989
                </p>
            </div>
        </div>